.pageFour{
    background-image: url("../Photos/8.png");
    
     min-height: 100vh;
    display: flex;
    border: 55px solid #fff9f1;
    box-sizing: border-box;
    padding: 5.5rem;
    background-size: cover;
    }