/* MAIN FOOTER DIV */

.footer-main-div{
display: flex;
flex-direction: row;
justify-content: center;
background-color: rgba(255, 192, 203, 0.5); /* Add translucent background color */position: fixed;
  bottom: 0;
  width: 100%;
}

