.contactus{
    background-image: url("./Photos/contact.jpg");
    overflow: hidden;
    min-height: 60vh;
    border: 55px solid rgb(69, 151, 10);
    box-sizing: border-box;
    display: center;
    object-fit: contain;
    justify-content: space-between;
    padding: 5.5rem;
    }