
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;

}

html {
  background-color: #DFDFDF;
}

body{
  margin: 0%;
  padding: 0%;
}



.product-main-div {

  height: auto;
  background-color: #fff9f1;
  width: auto;
}