.pageTwo{
    background-image: url("./Photos/2.jpg");
    overflow: hidden;
    min-height: 68vh;
    display: flex;
    border: 55px solid rgb(27, 100, 142);
     box-sizing: border-box;
    justify-content: space-between;
    padding: 5.5rem;
    }