.pageThree{
    background-image: url("./Photos/3.jpg");
   
     min-height: 68vh;
    
     border: 55px solid rgb(151, 10, 10);
     box-sizing: border-box;
    justify-content: space-between;
    padding: 5.5rem;
    }